.advantages{
    min-height: 473px;
    padding: 70px 0 65px 0;
    background-color: $bg_color;
    &__items{
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 270px;
    }
    &__descr{
        color: $text-color;
        text-align: center;
        width: 280px;
        margin-top: 30px;
    }
    &__title{
        font-size: 18px;
        font-weight: 700;
    }
    &__text{
        color: $text-color;
        margin-top: 20px;
        font-size: 13px;
        font-weight: 300;
        line-height: 18px;
        span{
            color: #F00;
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
            text-decoration: underline;
        }
    }

}